<%= link_to "Create A Student", new_student_path %>
<%= link_to "Create a lab", new_lab_path %>

<ul>
  <% @students.each do |student| %>
  <li>
    name: <%= link_to student.name, student %>  - age: <%= student.age  %> (loves <%= student.favorite_food %>)
  </li>
  <% end %>
</ul>
