<h1><%= @student.name %>'s Page</h1>
<p><%= @student.age %> years old...</p>
<marquee>I LOVE <%= @student.favorite_food %>!!!!!!!!!!!!!</marquee>


<h2><%= @student.name %>'s Labs</h2>

<ul>
  <% @student.labs.each do |lab| %>
    <li>
      <%= link_to lab.name, lab %>
    </li>
  <% end %>
</ul>

<h3>Log some labs</h3>
<%= form_for @student_lab, url: create_labs_path(@student) do |f| %>
  <%= f.label :lab_id %>
  <%= f.collection_select :lab_id, @labs, :id, :name %>
  <%= f.submit %>
<% end %>

<br>

<%= button_to "Delete #{@student.name}", @student, method: :delete %>
